<div class="comment-section">
  <div class="comment">
    <p><%= markdown(comment.body) =%></p>
    <small><%= time_ago_in_words(comment.created_at) %> ago</small>
    <small class="comment-reply"><a href="#">Reply</a></small>
    <small class="comment-user">By: <%= "Dummy user" %></small><!-- comment.user.name -->
  </div>
  <div class="comment2">
    <%= render partial: "comments/comment", collection: comment.comments.order('created_at DESC') if comment.comments.any? %>
  </div>
  <div class="comment-form">
    <%= simple_form_for(comment.comments.new) do |f| %>
      <%= f.input :body, label: "Reply" %>
      <%= f.input :commentable_id, as: :hidden, value: comment.id %>
      <%= f.input :commentable_type, as: :hidden, value: "Comment" %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
