<div class="comment-section clearfix">
  <div class="comment <%= "reported" if comment.reports.count > 5 %>">
    <% if comment.user.nil? %>
      <p>[deleted]</p>
    <% else %>
      <p><%= markdown(comment.body) =%></p>
      <small><%= time_ago_in_words(comment.created_at) %> ago</small>
      <% unless current_user.nil? %>
        <small class="comment-reply"><a href="#">Reply</a></small>
        <small class="report-user"><%= link_to "report", reports_path(report: {reportable_id: comment.id, reportable_type: "Comment"}), method: :post unless comment.reports.where(user: current_user).any? %></a></small>
      <% end %>
    <% end %>
    <small class="comment-user">By: <%= "Dummy user" %></small><!-- comment.user.name -->
  </div>
  <div class="comment2">
    <%= render partial: "comments/comment", collection: comment.children, locals: { post_id: post_id } if comment.has_children? %>
  </div>
  <div class="comment-form">
    <%= simple_form_for(Comment.new, remote: true) do |f| %>
      <%= f.input :body, label: "Reply", input_html: {class: "comment-box"} %>
      <%= f.input_field :commentable_id, as: :hidden, value: comment.id %>
      <%= f.input_field :commentable_type, as: :hidden, value: "Comment" %>
      <%= f.input_field :post_id, as: :hidden, value: post_id %>
      <%= f.input_field :page, as: :hidden, value: params[:page] %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
