<h1 class="show-post-title"><%= @post.title %></h1>
<small class="post-time"><%= @post.created_at.to_date %></small>
<p class="author">Author</p>
<div class="main-content">
  <%= @post.body %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Comments:</div>
          <% @post.comments.each do |comment| %>
            <div class="comment">
              <p><%= comment.body =%></p>
              <small><%= time_ago_in_words(comment.created_at) %> ago</small>
              <small class="comment-user">By: <%= "Dummy user" %></small><!-- comment.user.name -->
              <small class="comment-reply"><a href="#">Reply</a></small>
            </div>
            <div class="comment-comments">
              <% comment.comments.each do |comment| %>
                <div class="comment comment2">
                  <p><%= comment.body =%></p>
                  <small><%= time_ago_in_words(comment.created_at) %> ago</small>
                  <small class="comment-user">By: <%= "Dummy user" %></small><!-- comment.user.name -->
                </div>
              <% end %>
            </div>
            <div class="comment-form comment2">
              <%= simple_form_for(comment.comments.build) do |f| %>
                <%= f.input :body, label: "Comment" %>
                <%= f.input :commentable_id, as: :hidden, value: comment.id %>
                <%= f.input :commentable_type, as: :hidden, value: "Comment" %>
                <%= f.button :submit, value: "Reply" %>
              <% end %>
            </div>
          <% end %>
          <div>
            <div class="panel-body">
              <%= simple_form_for(@post.comments.new) do |f| %>
                <%= f.input :body, label: "New Comment" %>
                <%= f.input :commentable_id, as: :hidden, value: @post.id %>
                <%= f.input :commentable_type, as: :hidden, value: @post.comments.new.commentable_type %>
                <%= f.button :submit %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(".comment-form").css('display', 'none');
$(".comment-reply").on ("click", function(event) {
  event.preventDefault();
  $(this).parent().next().next().css('display', 'block');
});
</script>
