<article>
  <h2 class="show-post-title"><%= @post.title %></h1>
  <small class="post-time"><%= @post.created_at.to_date %></small>
  <p class="author">Author</p>
  <div class="main-content" role="main">
    <%= @post.body %>
  </div>
</article>
<div class="panel panel-default">
  <div class="panel-heading">Comments</div>
  <div class="panel-body">
    <div id="comments">
      <%= render partial: "comments/comment", collection: @comments, locals: { post_id: @post.id } %>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4" id="paginator"><%= paginate @comments %></div>
    </div>
    <% if current_user.nil? %>
      <div>Login to Post comment</div>
    <% else %>
      <div>
        <%= simple_form_for(Comment.new, remote: true) do |f| %>
          <%= f.input :body, label: "Reply", input_html: {class: "comment-box"} %>
          <%= f.input_field :commentable_id, as: :hidden, value: @post.id %>
          <%= f.input_field :commentable_type, as: :hidden, value: "Post" %>
          <%= f.input_field :post_id, as: :hidden, value: @post.id %>
          <%= f.input_field :page, as: :hidden, value: params[:page] %>
          <%= f.button :submit %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(".comment-form").css('display', 'none');
  $(".comment-reply").on ("click", function(event) {
    event.preventDefault();
    $(this).parent().next().next().toggle(function() {
      $(this).parent().next().next().css("display", "block");
    }, function() {
      $(this).parent().next().next().css("display", "none");
    });
  });
  $(".report-form").css('display', 'none');
  $(".report-user").on ("click", function(event) {
    event.preventDefault();
    $(this).parent().next().next().next().toggle(function() {
      $(this).parent().next().next().next().css("display", "block");
    }, function() {
      $(this).parent().next().next().next().css("display", "none");
    });
  });
</script>
